.container {
    max-width: 120rem;
    background-color: yellow;
    // margin: 8rem auto;
    // min-height: 50rem;
}

.header {
    border-bottom: $margin-bottom;
}

.section1 {
    border-bottom: $margin-bottom;
}

.section2 {
    border-bottom: $margin-bottom;
}
